
body{
    margin: 0;
    /*Animated background*/
    background: linear-gradient(45deg,#d2001a,#7462ff,#f48e21,#23d5ab);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
}
body .learning{
    background-color: white;
}
/* header */
.header{
    height: 100px;
    display: flex;
    position: sticky;
    top:0;
}
.header .home{
    display: flex;
    width: 50%;
    justify-content: start;
    align-items: center;
    background-color: transparent;
}
.home{
    padding: 0 0 0 20px;
    color: gray;
    font-family: monospace;
    font-size: 30px;
}
.options{
    background-color: transparent;
    display: flex;
    justify-content: end;
    align-items: center;
    width: 50%;
    padding: 0 20px 0 0;
}
/* main */

main{
    height: 80vh;
    width: 100%;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@keyframes color{
    0%{
        background-position: 0 25%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

.Content{
    background-color:transparent;
    width: 80%;
    height:60%;
}
.Content h1{
    font-size: 60px;
    background: linear-gradient(to right, green , blue);
    -webkit-background-clip: text; /* Clip the background to the text */
    -webkit-text-fill-color: transparent; /* Make the text transparent to show the background */
    background-clip: text; /* Standard background clip (for modern browsers) */
    color: transparent; /* Ensure text color is transparent */
}
.Content .main_text{
    font-size: 40px;
    color: gray;
}
.undertext{
    display:flex;
    justify-content: center;
}
.study{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 32vh;
    background-color:transparent;
    justify-content: center;
    align-items: center;
}
.drive{
    display:flex;
    flex-direction: column;
    width: 50%;
    background-color: transparent;
    justify-content: center;
    align-items: center;
}
/* Main learning */
.learning{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 120vh;
}
.context{
    width: 50%;
    height:inherit;
    background-color: black;
}

.Code1{
    display: flex;

}
.img{
    width: 50%;
    height:300px;
    background-color: rgb(54, 66, 66);
}

.text{
    width: 50%;
    height:300px;
    background-color: rgb(111, 128, 128);
}

/* footer */
#footer { 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 3rem;          /* Footer height */  
    background-color: blue;
  }
